<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionButtonView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF9CF911D0D4F9900737043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF9CFAA1D0D4F9A00737043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF9CFB51D0D4F9A00737043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
